*{
    
    background-color:black;
}
h1{
    color: forestgreen;
}

p{
    font-size: large;
   color: green;
}

legend {
    color: rgb(9, 172, 150);
    font-size:larger
}















































